@import './base.css';
#app {
    max-width: 1280px;
    margin: 0 auto;
    /* padding: 2rem; */
    font-weight: normal;
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }
    #app {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 2rem;
    }
}

:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --primary-color: #6200ee;
    /* 其他变量 */
}

.dark-theme {
    --background-color: #121212;
    --text-color: #ffffff;
    --primary-color: #bb86fc;
    /* 其他变量 */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}